{{! Load Require }}
{{#if production}}
<script src="/js/vendor/require.js"></script>
<script src="/js/app.js"></script>
{{else}}
<script src="/js/vendor/require.js"></script>
<script src="/js/config.js"></script>
<script src="/js/app.js"></script>
{{/if}}
