.header-top{
	@include cf();
	padding: $spacing-large*2 0 $spacing-large*2;
	position: relative;
	@media #{$medium-up} {
		padding: $spacing-large*2 0;
		margin-left: $spacing-large;
		margin-right: $spacing-large;
	}
}

.logo{
	width: 270px;
	margin-bottom: $spacing-large*2;

	@media #{$small-big-up} {
		width: 270px;
		float: left;
		margin-bottom: 0;
	}
	@media #{$large-up} {
		width: 360px;
	}
	a{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}

ul.secondary-logos{
	@include clean-list();
	@include cf();
	
	@media #{$small-big-up} {
		top: 40px;
	    position: absolute;
	    // right: $spacing-large + $spacing-medium;
	    right: 0;
	    // transform: translateY(-50%);
	}
	@media #{$large-up} {
		top: 45px;
	}
	> li{

		// @media #{$medium-up} {
		float: left;
		margin-right: $spacing-medium;
		@media #{$medium-up} {
			margin-right: $spacing-large;
		}
		@media #{$large-up} {
			margin-right: $spacing-large + $spacing-medium;
		}
		&:last-child{
			margin-right: 0;
		}
		a{
			display: block;
			line-height: 30px;
			@media #{$medium-up} {
				line-height: 50px;
			}
		}
		// }
		img{
			height: 19px;
			width: auto;
			// &.skatt{
			// 	height: 30px;
			// }
			// &.arb{
			// 	height: 30px;
			// }

			
			@media #{$medium-up} {
				// &.skatt{
				// 	height: 22px;
				// }
				// &.arb{
				// 	height: 25px;
				// }
				// &.udi{
				// 	height: 20px;
				// }
				height: 22px;
				// &.skatt-vertical{
				// 	display: inline-block;
				// }
				// &.skatt-horizontal{
				// 	display: none;
				// }
			}
			@media #{$large-up} {
				// &.skatt{
				// 	height: 35px;
				// }
				// &.arb{
				// 	height: 40px;
				// }
				// &.udi{
				// 	height: 35px;
				
				height: 35px;
			}
		}
	}
}


.header-bottom{
	@include cf();
	background-color: $color-blue-dark;
	@media #{$medium-up} {
		padding-left: $spacing-large;
		padding-right: $spacing-large;
	}
	
}

ul.language-links{
	float: right;
	@include clean-list();
	@include cf();
	> li{
		float: left;
		margin-right: $spacing-medium;
		&:last-child{
			margin-right: 0;
		}
		> a{
			padding: 3px $spacing-small;
			color: #fff;
			text-transform: uppercase;
			display: inline-block;
			font-size: 14px;
			&:hover,
			&:focus{
				text-decoration: underline;
			}
		}
	}
}