<a href="#main" class="skip-link" tabindex="1" accesskey="s">Til hovedinnhold</a>

<header class="main-header" role="banner">
	<h1 class="visually-hidden">Servicesenter for Utenlandske Arbeidstakere</h1>
	
			<div class="content">
				<div class="row">
		<div class="large-12 columns">
				<div class="header-top">
					<div class="logo">
						<a href="#"><img src="assets/SUA-logo-ENG.svg" alt="" /></a>
					</div>
					<ul class="secondary-logos">
						<li><a href="#"><img src="assets/logo-arb.gif" alt="" /></a></li>
						<li><a href="#"><img src="assets/logo-politiet.gif" alt="" /></a></li>
						<li><a href="#"><img src="assets/logo-skatteetaten.png" alt="" /></a></li>
						<li><a href="#"><img src="assets/logo-udi.gif" alt="" /></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		
				<div class="content">
					<div class="row">
			<div class="large-12 columns">
					<ul class="language-links">
						<li><a href="#">Nor</a></li>
						<li><a href="#">Ltu</a></li>
						<li><a href="#">Gbp</a></li>
						<li><a href="#">Pol</a></li>
						<li><a href="#">Rus</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</header>