/************
## Helpers ##
************/

// Clearfix
// -------------------------

@mixin cf() {
    *zoom: 1;
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}


@mixin clean-list(){
	list-style: none;
	margin: 0;
	padding: 0;
	> li{
		margin: 0;
	}
}