/*********
## Core ##
*********/

html, 
body {
	font-size: 100%;
	height: 100%;
	font-size: rem-calc(16);

}

body
{
	font-family: "Helvetica-Light", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
}

h1 {
	font-weight: 400;
	font-size: rem-calc(26);
}

h2{	
	font-size: rem-calc(22);
	@media #{$medium-up} {
		font-size: rem-calc(28);
	}
	margin-bottom: $spacing-large;
	font-weight: bold;
}

a{
	color: #000;
	text-decoration: underline;
}

.content{
	// text-align: center;
	max-width: 1400px;
	margin: 0 auto;

}

.content-container{
	.row > *:last-child{
		@media #{$medium-up} {
			background-color: $color-grey-light;
		}
	}
	a{
		color: #000;
		text-decoration: underline;
	}

	@media #{$medium-up} {
		.row > .columns:last-child .content-block{
			margin-left: $spacing-large;
			margin-right: $spacing-large;
		}
		.row > .columns:first-child .content-block{
			margin-right: $spacing-large;	
			margin-left: $spacing-large;
		}
	}
}

.content-block{
	border-top: 2px solid #000;
	margin-top: $spacing-large*2;
	@media #{$medium-up} {
		margin-top: $spacing-large*4;
	}
	&.last-row{
		padding-bottom: $spacing-large *3;
	}

}

.article-image{
	
	> img{
		width: 100%;
		height: auto;	
	}
	margin-bottom: $spacing-large * 2;
	margin-top: $spacing-large * 2;
	
}

.article-watermark{
	display: none;
	> img{
		width: 50%;
		max-width: 200px;
	}
	margin-top: $spacing-large * 3;
	@media #{$medium-up} {
		display: block;
	}
	
}

.visually-hidden{
	position: absolute; 
    overflow: hidden; 
    clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0;
}

.skip-link{
	display: block;
    position: absolute;
    top: 0;
    left: -999em;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: $spacing-medium;
    text-align: center;
    line-height: 1.4;
    color: #fff !important;
    background-color: $color-blue-dark;
    border: none;
	&:focus{
		right: 0;
    	left: 0;
    	outline: none;
	}
}