/**********
## Colors ##
**********/

$color-blue-dark: #002f49;
$color-grey-light: #f6f6f3;


/**********
## Fonts ##
**********/

$font-size-base: 16px;
$body-font-family: 'Source Sans Pro';
$header-font-family: 'Source Sans Pro';

/************
## Spacing ##
************/

$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$spacing-xlarge: 40px;
$spacing-xxlarge: 80px;