{{#extend 'layout' title="Home" body-class="index" dummyVar="dummyVarExample" }}
	{{#content 'body' }}
		
			<div class="row" data-equalizer data-equalizer-mq="medium-up">
				<div class="medium-6 columns">
					<div class="content-block" data-equalizer-watch>
						<h2>Hva er servicesenteret?</h2>
						<p>
							Servicesenter for utenlandske arbeidstakere (SUA) er et sted der Arbeidstilsynet, politiet, Skatteetaten og Utlendingsdirektoratet (UDI) jobber sammen for at utlendinger som kommer til Norge for å jobbe, skal få god veiledning og kort saksbehandlingstid på søknadene sine. Velg by for åpningstider og kart:  <a href="#">OSLO</a> – <a href="#">STAVANGER</a> – <a href="#">BERGEN</a> – <a href="#">KIRKENES</a>

						</p>
					</div>
					
				</div>
				<div class="medium-6 columns">
					<div class="content-block" data-equalizer-watch>
						<h2>Hvem kan bruke servicesenteret?</h2>
						<ul>
							<li>Personer fra EU/EØS som skal arbeide i Norge, og familiemedlemmene deres</li>
							<li>Personer fra land utenfor EU/EØS som skal søke oppholdstillatelse for å arbeide i Norge, og familiemedlemmene deres</li>
							<li>Arbeidsgivere til målgruppene beskrevet over</li>
						</ul>
					</div>
					
				</div>
			</div>

			<div class="row" data-equalizer data-equalizer-mq="medium-up">
				<div class="medium-6 columns">
					<div class="content-block" data-equalizer-watch>

						<h2>Hva kan servicesenteret hjelpe deg med?</h2>
						<ul>
							<li>Du kan få utstedt registreringsbevis hvis du er EU/EØS-borger</li>
							<li>Du kan levere dokumentasjon til søknaden din om oppholdstillatelse hvis du er fra land utenfor EU/EØS</li>
							<li>Du kan bestille oppholdskort, som er et bevis på oppholdstillatelsen din</li>
							<li>Du kan søke om skattekort og samtidig få et norsk identitetsnummer</li>
							<li>Du kan melde flytting til Norge og samtidig få et norsk identitetsnummer</li>
							<li>Du kan få informasjon om HMS-kort for ansatte i bygg- og
							anleggsnæringen og renholdsbransjen</li>
							<li>Du kan få svar på spørsmål om arbeidsforholdet ditt, for eksempel arbeidstid og lønnsvilkår i Norge</li>
						</ul>

						<div class="article-image">
							<img src="assets/dummy/image.png" alt="" />
						</div>
						
						<div class="article-watermark">
							<img src="assets/sua-logo-big-grey.png" alt="" />
						</div>

						
					</div>

				</div>
				<div class="medium-6 columns">
					
					<div class="content-block last-row" data-equalizer-watch>
						<h2>Hva må du gjøre?</h2>
						<b>Hvis du er fra EU/EØS og skal få utstedt registreringsbevis:</b>
						<ul>
							<li>
								Du må bestille time for oppmøte på Søkandsportalen (eng versjon Application portal) selfservice.udi.no – innspill fra Udi</li>
							<li>Du må ha med deg: se UDIs sjekklister på udi.no/sjekklister</li>
						</ul>

						<b>Hvis du er fra land utenfor EU/EØS og skal søke om oppholdstillatelse:</b>
						<ul>
							<li>
								Du må bestille time for oppmøte på Søkandsportalen (lenke til selfservice.udi.no) (velg by og SUA-senter)
							</li>
							<li>Du må ha med deg: se UDIs sjekklister på www.udi.no/sjekklister</li>
						</ul>

						<b>Hvis du er fra land utenfor EU/EØS og skal bestille oppholdskort:</b>
						<ul>
							<li>
								Du må bestille time for oppmøte på Søkandsportalen (lenke til selfservice.udi.no) (velg by og SUA-senter)
							</li>
							<li>Du må ha med gyldig pass</li>
						</ul>

						<b>Hvis du skal søke om skattekort (du vil samtidig få et norsk identitetsnummer - D-nummer eller personnummer):</b>
						<ul>
							<li>
								Du må møte opp på senteret, trekke kølapp og levere søknad om skattekort på skjema RF-1209
							</li>
						</ul>


						<b>Du må ha med deg:</b>
						<ul>
							<li>Gyldig legitimasjon (legge inn lenke til info på skatteetaten.no)</li>
							<li>Arbeidskontrakt eller skriftlig arbeidstilbud. Ved oppdrag for bemanningsforetak må du i tillegg ha med oppdragsbekreftelse</li>
							<li>Hvis du er fra land utenfor EU/EØS må du dokumentere at du har en oppholdstillatelse med rett til å arbeide i Norge</li>
					    </ul>

						<b>Hvis du skal melde flytting til Norge (du vil samtidig få et norsk identitetsnummer - personnummer):</b>
						<ul>
							<li>Du må møte opp på senteret, trekke kølapp og levere søknad om flytting fra utlandet påskjema RF-1401<br />
							Du må ha med deg:
								<ul>
									<li>
										Gyldig legitimasjon (legge inn lenke til info på skatteetaten.no)
									</li>
									<li>
										Registreringsbevis (gjelder personer fra EU/EØS) eller oppholdstillatelse/oppholdskort (gjelder personer fra land utenfor EU/EØS).
									</li>
									<li>
										Arbeidskontrakt eller skriftlig arbeidstilbud med minst seks måneders varighet. Ved oppdrag fra bemanningsforetak må du i tillegg ha med oppdragsbekreftelse
									</li>
									<li>
										Kontrakt på leie eller kjøp av bolig
									</li>
								</ul>
							</li>
						</ul>


						<i>Hvis du trenger informasjon om rettigheter og plikter i arbeidsforholdet ditt, eller du ønsker å melde fra om kritikkverdige arbeidsmiljøforhold kan du møte opp på SUA og trekke kølapp til Arbeidstilsynet.</i>

					</div>
				</div>

		</div>
	{{/content}}

	{{#content 'scripts'}}
		<script src="/js/template/index.js"></script>
	{{/content}}

{{/extend}}