.footer{
	border-top: solid $color-blue-dark 5px;
	margin-bottom: $spacing-large *2;
}

.footer-header{
	padding-top: $spacing-large * 2;
	margin-bottom: $spacing-large * 2;
	@media #{$medium-up} {
		text-align: center;
	}
}

.footer-content{
	margin-bottom: $spacing-large * 2;
	@media #{$medium-up} {
		margin-bottom: $spacing-large *4;
	}

}

.column-content{
	margin-bottom: $spacing-large *2;
	padding-bottom: $spacing-large *2;
	border-bottom: 1px solid #e9e9e9;

	@media #{$medium-up} {
		border-bottom: none;
		padding-bottom: 0;
		margin-left: $spacing-large;
		margin-right: $spacing-large;
	}
}

.column-header{
	font-weight: bold;
	text-transform: uppercase;
}

.footer-information{
	font-size: rem-calc(14);
}

.footer-logos{
	text-align: center;
	.divider{
		
		
		width: 1px;
		margin: 0 $spacing-large;
		height: 40px;
    	vertical-align: middle;
    	display: block;
    	@media #{$medium-up} {
    		border-right: 1px solid #000;
    		display: inline-block;

    		height: 80px;
    		margin: 0 $spacing-large*2;
    	}
	}
	> a{
		display: inline-block;
		&.skatt{
			width: 240px;
			vertical-align: middle;
			@media #{$medium-up} {
				
				width: 140px;
			}
			@media #{$large-up} {
				width: 240px;
			}
		}
	}
	img{
		
		
		&.sua{
			width: 130px;
			@media #{$medium-up} {
				width: 100px;
			}
			@media #{$large-up} {
				width: 130px;
			}	
		}

		&.win{
			width: 210px;
			@media #{$medium-up} {
				width: 160px;
			}
			@media #{$large-up} {
				width: 210px;
			}
		}
		
	}
}