<footer class="footer">
	<div class="row">
		<div class="large-12 columns">
			<div class="content">
				<div class="footer-header">
					<h2>Adresser og åpningstider</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="footer-content">
			<div class="row">
				<div class="medium-3 columns">
					<div class="column-content">
						<div class="column-header">Oslo</div>
						<b>Schweigaards gate 17</b><br />
						<i>(i lokalene til Skatt øst)</i><br />
						<br />
						<b>Åpningstider:</b><br />
						<u>Fra 15. mai til 14. september:</u><br />					
						mandag – fredag kl 09.00 – 14.30<br />
						<br />
						<u>Fra 15. september til 14. mai:</u><br />
						mandag til fredag kl 09.00 – 15.00
					</div>
				</div>
				<div class="medium-3 columns">
					<div class="column-content">
						<div class="column-header">Stavanger</div>
						<b>Lagårdsveien 46</b><br />
						<i>(i lokalene til Skatt Vest)</i><br />
						<br />
						<b>Åpningstider:</b><br />
						<u>Fra 15. mai til 14. september:</u><br />					
						mandag – fredag kl 09.00 – 14.30<br />
						<br />
						<u>Fra 15. september til 14. mai:</u><br />
						mandag til fredag kl 09.00 – 15.00<br />
						<br />
						<div class="footer-information">
							Informasjonsskranke for spørsmål om registreringsbevis og oppholdstillatelse: mandag og torsdag fra klokken 09.00 til 11.45
						</div>
					</div>
				</div>
				<div class="medium-3 columns">
					<div class="column-content">
						<div class="column-header">Bergen</div>
						<b>Nonnesetergaten 4</b><br />
						<i>(i lokalene til Skatt Vest)</i><br />
						<br />
						<b>Åpningstider:</b><br />
						<u>Fra 15. mai til 14. september:</u><br />					
						mandag – fredag kl 09.00 – 14.30<br />
						<br />
						<u>Fra 15. september til 14. mai:</u><br />
						mandag til fredag kl 09.00 – 15.00<br />
						<br />
						<div class="footer-information">
							Informasjonsskranke for spørsmål om registreringsbevis og oppholdstillat else: tirsdag og torsdag fra klokken 09.00 til 11.30
						</div>		
					</div>
				</div>
				<div class="medium-3 columns">
					<div class="column-content">
						<div class="column-header">Kirkenes </div>
						<b>Pasvikveien 2</b><br />
						<i>(Skatteetaten) og Rådhussvingen 1 (politiet)</i><br />
						<br />
						<b>Åpningstider:</b><br />
						<u>Skatteetaten:</u><br />					
						mandag – fredag kl 09.00 – 14.30<br />
						<br />
						<u>Politiet:</u><br />
						mandag, tirsdag, onsdag og fredag fra kl 09.00 – kl 14.00 <br />
						(stengt torsdag)
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="large-12 columns">
			<div class="content">
				<div class="footer-logos">
					<a href="#"><img src="assets/logo-win.png" alt="" class="win" /></a>
					
					<div class="divider">&nbsp;</div>
					<a href="http://www.skatteetaten.no/no/Person/Skattekort-og-forskuddsskatt/Utenlandsk-arbeidstaker/jeg-skal-jobbe-i-norge---hva-ma-jeg-gjore/" class="skatt">Veiviser for deg som er utenlandsk arbeidstaker </a>

					<div class="divider">&nbsp;</div>
					<a href="#"><img src="assets/sua-logo-big-grey-2.png" alt="" class="sua" /></a>
				</div>
			</div>
		</div>
	</div>

</footer>